.container{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 100px;
}
.array-bar{
    width: 7px;
    background-color: olive;
    display: inline-block;
    margin: 0 1px;
}

.controls{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: absolute;
    left: 40%;
    top: 1000px;
    border: 5px solid olive;
    padding: 15px;
    background-color: whitesmoke;
    
}
body{
    background-color: ghostwhite;
}

button{
    background-color: olive;
    color:ghostwhite;
    border: 3px solid ghostwhite;
    padding: 7px 16px;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: ghostwhite; /* Green */
    color: black;
    border: 3px solid olive;
  }

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}